<body>
    <div class="main_page">
        <div class="overlay">
            <div class="header w-100">
                <img src="/assets/images/logo.png" alt="" class="img-fluid">
            </div>
            <div class="form d-flex align-items justify-content-center w-100 mb-0 mb-md-5">


                <form [formGroup]="form" class="form-row" (ngSubmit)="login()">
                    <h2>Sign In</h2>
                    <div class="wrapper mb-5">
                        <div class="input_data">
                            <div class="form-field">
                                <input type="text"  id="loginEmail"  name="email"
                                    formControlName="email" required  >
                                    <div *ngIf="email&&email.invalid && email.touched" style="color:rgb(136, 23, 23)">this is email is not valid</div>
                                    <div *ngIf="errorMessage" style="color:rgb(136, 23, 23)">{{errorMessage}} </div>
                                <label>Email</label>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper mb-5">
                        <div class="input_data">
                            <input type="password"  id="loginPass" name="password"
                                formControlName="password" required>
                                <div *ngIf="password&&password.invalid&&password.touched" style="color:rgb(136, 23, 23)">this is password is not valid</div>

                            <label>Password</label>
                            <!-- <div *ngIf="errorMessage" class="alert alert-warning">
                                <strong>Warning!</strong> {{errorMessage.error}}
                            </div> -->
                        </div>
                    </div>
                    <!-- <div class="text-success text-center d-none" id="emptyMsg">Fill the inputs first</div>
                    <div class="text-success text-center d-none" id="wrongMsg">You email or password is incorrect</div>
                    <div class="text-success text-center d-none" id="signMsg">You must sign up firstly</div> -->

                    <div class="form-buttons d-flex justify-content-center">
                        <button class="btn " id="loginBtn" [disabled]=" form.invalid">Sign In</button>
                    </div>
                  
                    <div class="remember d-flex align-items-center justify-content-between w-100">

                        <span><a href="#">Need help?</a></span>
                    </div>
                    <div class="new py-4 d-flex justify-content-between">
                        New to Netflix?
                        <a routerLink="/sign-up"> Sign up now</a>
                    </div>
                </form>
            </div>
            <div *ngIf="loading">loading...</div>



        </div>
    </div>


</body>