.carousel:hover{
    cursor: pointer;
    }
    .carousel-inner{
        height: 100vh;
    }
    .carousel-inner .carousel-item img{
        height: 100vh;
        object-fit: cover;
    }
    .carousel-caption h2{
        color: red;
        font-weight: bold;
        font-size: 40px;
    }
    .carousel-caption p{
        color: azure;
        font-weight: bold;
    }
    
    
    .rowposter{
        display: flex;
        overflow-y: visible;
        overflow-x: scroll ;
        height: 350px;
        align-items: center;
        z-index: 10;
    }
    .rowimg{
        max-height: 150px;
        object-fit: cover;
        margin: 0 7px;
        width: 100%;
        box-sizing: content-box;
        transition:all 450ms;
        border-radius: 5px;
        border: 2px solid transparent;
    }
    .rowimg:hover{
        transform: scale(1.1);
        cursor: pointer;
        z-index: 2px;
        border: 2px solid gray;
        
    }
    .largeposter{
        max-height: 300px;
    }
    .rowposter::-webkit-scrollbar{
    display: none;
    /* ===================================================== */
    }
    @media (max-width:767px) {
        .carousel1{
            width: 100%;
        }
     #carouselExampleCaptions{
        width:100%;
       
    
     }
        .carousel-inner {
          width:100%;
          height: 40%;
            
        }
        
        .carousel-inner .carousel-item img{
            height: 100%;
        }
        .rowposter{
            max-height: 180px;
        }
        .rowimg{
            max-height: 120px;
        }
        .carousel-caption h2{
            color: red;
            font-weight: bold;
            font-size: 20px;
        }
        .carousel-caption p{
            color: azure;
            font-size: 10px;
            font-weight: bold;
        }
        
    
    }